{% extends "base.html" %}

{% block maintitle %}
  I18N_SPLASH_PAGE_TITLE
{% endblock maintitle %}

{% block header_js %}
  {{ super() }}

  <style>
    html, body {
      background:url('/images/general/background.jpg');
    }
  </style>
{% endblock %}

{% block navbar_breadcrumb %}
{% endblock navbar_breadcrumb %}

{% block content %}
<div view-title="Login" class="oppia-dashboard-container form-group" style="max-width: 400px;" name="login-view" ng-controller="Login">
  <md-card style="background-color:#ddd">
      <div class="list list-inset">
          <label class="item item-input">&nbsp;&nbsp;&nbsp;&nbsp;用户名：<input type="text" placeholder="用户名" ng-model="username"/>
          </label>
          <label class="item item-input">&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" placeholder="密码" ng-model="password"/>
          </label>
      </div>
      <button class="oppia-clickable-navbar-element center-block " ng-click="login()">登录</button>
  </md-card>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block footer_js %}
    {{ super() }}
  <script>
    {{ include_js_file('login.js') }}
  </script>
{% endblock footer_js %}
