{% extends "base.html" %}

{% block maintitle %}
I18N_SPLASH_PAGE_TITLE
{% endblock maintitle %}

{% block header_js %}
{{ super() }}

<style>
    html, body {
        background-color: #f2f2ee;
    }
</style>
{{dependencies_html}}
{% endblock %}

{% block navbar_breadcrumb %}
{% endblock navbar_breadcrumb %}

{% block content %}
<div class="oppia-dashboard-container" style="max-width: 900px" >
    <ol class="breadcrumb">
        <li><a href="/video/category">视频</a></li>
        <li><a href="/video/list/{{category}}">{{category_name}}</a></li>
        <li class="active">{{name}}</li>
    </ol>
    <div class="page-header" stop-event="touchend">
        <h1>{{name}}<small class="label label-default">{{category_name}}</small></h1>
        <p>{{ids |safe}}
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block footer_js %}
{{ super() }}
<script>
  {{include_js_file('video_list/VideoListService.js')}}
</script>
{{ interaction_templates }}
{{ interaction_validators_html }}
{{ gadget_templates }}
{% endblock footer_js %}
