{% extends "base.html" %}

{% block maintitle %}
  I18N_SPLASH_PAGE_TITLE
{% endblock maintitle %}

{% block header_js %}
  {{ super() }}

  <style>
    html, body {
      background-color: #f2f2ee;
    }
  </style>
  {{dependencies_html}}
{% endblock %}

{% block navbar_breadcrumb %}
{% endblock navbar_breadcrumb %}

{% block content %}
<div class="oppia-dashboard-container" ng-controller="VideoList">
 <button class="btn btn-success pull-right" ng-click="showCreateModal()">
        上传视频
    </button>
  <md-card  style="width:184px;height:250px;float:left;" ng-repeat="video in videos track by video.id">
            <div class="title-section" style="background-color: <[exploration.thumbnail_bg_color]>;">
              <img class="thumbnail-image" ng-src="<[exploration.thumbnail_icon_url]>">
              <h2 class="activity-title protractor-test-exp-summary-tile-title">
                <span><[video.name || '未命名' | truncate:40]></span>
              </h2>  <[video.category]>
                  <span angular-html-bind="video.ids" ></span>
            </div>
            <div class="title-section-mask"></div>

            <div ng-attr-section="'<['right-section']>">
              <div ng-if="exploration.status === 'private'" class="exp-private-text">

              </div>
               {#<ul ng-if="exploration.status !== 'private'"
                  layout="row"
                  layout-wrap
                  class="metrics"
                  layout-align="space-between center">
                <li flex="50">
                  <span class="protractor-test-exp-summary-tile-rating">
                    <span class="fa fa-star fa-lg"
                          tooltip="<['I18N_LIBRARY_RATINGS_TOOLTIP' | translate]>"
                          tooltip-placement="top">
                    </span>
                    <span>
                      <[(getAverageRating(video.ratings) | number:1) || 'N/A']>
                    </span>
                  </span>
                </li>

                <li flex="50">
                  <span class="fa fa-eye fa-lg"
                        tooltip="<['I18N_LIBRARY_VIEWS_TOOLTIP' | translate]>"
                        tooltip-placement="top">
                  </span>
                  <[exploration.num_views]>
                </li>

                <li flex="50">
                  <span class="fa fa-clock-o fa-lg"
                        tooltip="<['I18N_LIBRARY_LAST_UPDATED' | translate]>"
                        tooltip-placement="top">
                  </span>
                  <span>
                    <[getLocaleAbbreviatedDatetimeString(video.last_updated)]>
                  </span>
                </li>

                <li flex="50">
                  <span class="fa fa-comments fa-lg"
                        tooltip="<['I18N_PLAYER_FEEDBACK_TOOLTIP' | translate]>"
                        tooltip-placement="top">
                  </span>
                  <[exploration.num_total_threads]>
                </li>
                <sharing-links ng-if="exploration.status !== 'private'"
                               ng-click="$event.stopPropagation()"
                               flex="100"
                               layout-type="row"
                               layout-align-type="center left"
                               twitter-text="DEFAULT_TWITTER_SHARE_MESSAGE_DASHBOARD"
                               exploration-id="exploration.id">
               </sharing-links>
              </ul>#}
            </div>
</md-card>

  <script type="text/ng-template" id="modals/editorVideoCreate">
      <div class="modal-header">
        <h3>上传视频</h3>
      </div>

      <div class="modal-body" stop-event="touchend">
        <p>名称: <input type="text"  class="form-control" ng-model="name" placeholder="输入视频名称"/></p>
        <p class="clear">分类:
        <select2-dropdown width="100%" choices="CATEGORY_LIST_FOR_SELECT2" item="category" placeholder="请选择分类"></select2-dropdown>
        </p>
        <p>内容:<schema-based-editor local-value="ids" ng-model="ids" schema="schema">
          </schema-based-editor>
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" ng-click="create(name, ids, category)" ng-disabled="!name || !ids|| !category">发布</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
      </div>
    </script>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script>
    {{ include_js_file('video_list/VideoList.js') }}
    {{ include_js_file('video_list/VideoListService.js')}}
  </script>
{{ interaction_templates }}
{{ interaction_validators_html }}
{{ gadget_templates }}
{% endblock footer_js %}
