{% extends "base.html" %}

{% block maintitle %}
I18N_SPLASH_PAGE_TITLE
{% endblock maintitle %}

{% block header_js %}
{{ super() }}

<style>
    html, body {
        background-color: #f2f2ee;
    }
</style>
{{dependencies_html}}
{% endblock %}

{% block navbar_breadcrumb %}
{% endblock navbar_breadcrumb %}

{% block content %}
<div class="oppia-dashboard-container" style="position: relative;z-index: 5;max-width: 900px;height:100%;"
     ng-controller="VideoList">
     <ol class="breadcrumb">
        <li><a href="/video/category">视频</a></li>
        <li class="active">{{category_name}}</li>
    </ol>
    <div class="modal-body" stop-event="touchend">
        <h1>{{category_name}}</h1>
        <div class="row">
            <div class="col-md-2" style="background: {{thumbnail_bg_color}}">
                <img class="img-responsive"
                     style="width:200px;"
                     ng-src="{{thumbnail_icon_url}}"/>
            </div>
            <div><[category_objective | truncate:200]></div>
        </div>

    </div>
    {% if can_create_explorations %}
    <button class="btn btn-success pull-right" ng-click="showCreateModal()">
        上传视频
    </button>
    {% endif %}
    <div style="clear:both"></div>
    <div ng-if="videos.length === 0" class="oppia-dashboard-empty-text">
        <md-card layout="row"
                 class="oppia-page-card oppia-dashboard-intro-card"
                 style="margin-top: 0;">
            <div>
                <p>
                    没有视频！
                </p>
            </div>
            <div class="oppia-dashboard-intro-picture">
                <img src="/images/general/empty_dashboard.svg">
            </div>
        </md-card>
    </div>

    <md-card class="oppia-activity-summary-tile md-default-theme" style="width:200px;height:258px;float:left;"
             ng-repeat="video in videos track by video.id">
        <a href="/video/<[video.id]>" target="_blank">
            <div class="title-section" style="background-color: <[video.thumbnail_bg_color]>;">
                <img class="thumbnail-image" ng-src="<[video.thumbnail_icon_url]>"/>
                <h2 class="activity-title protractor-test-exp-summary-tile-title">
                    <span><[video.name || '未命名' | truncate:40]></span>
                </h2>
            </div>
            <div class="title-section-mask"></div>
        </a>
        <div ng-attr-section="'<['right-section']>">
            <div ng-if="exploration.status === 'private'" class="exp-private-text">

            </div>
            <ul ng-if="exploration.status !== 'private'"
                layout="row"
                layout-wrap
                class="metrics"
                layout-align="space-between center">
                <li flex="50">
                  <span class="fa fa-clock-o fa-lg"
                        tooltip="<['I18N_LIBRARY_LAST_UPDATED' | translate]>"
                        tooltip-placement="top">
                  </span>
                    <span>
                    <[getLocaleAbbreviatedDatetimeString(video.last_updated)]>
                  </span>
                </li>
                <li flex="25">
                  <span class="protractor-test-exp-summary-tile-rating">
                    <span class="fa fa-pencil fa-lg"
                          tooltip="编辑"
                          tooltip-placement="top">
                    </span>
                    <span>
                       编辑
                    </span>
                  </span>
                </li>

                <li flex="25" ng-click="deleteData(video.id,$event)">
                  <span class="fa fa-remove fa-lg"
                        tooltip="<['I18N_PLAYER_FEEDBACK_TOOLTIP' | translate]>"
                        tooltip-placement="top">
                  </span>
                    删除
                </li>
                <sharing-links ng-if="exploration.status !== 'private'"
                               ng-click="$event.stopPropagation()"
                               flex="100"
                               layout-type="row"
                               layout-align-type="center left"
                               twitter-text="DEFAULT_TWITTER_SHARE_MESSAGE_DASHBOARD"
                               exploration-id="exploration.id">
                </sharing-links>
            </ul>
        </div>
    </md-card>

    <script type="text/ng-template" id="modals/editorVideoCreate">
        <div class="modal-header">
            <h3>上传视频</h3>
        </div>

        <div class="modal-body" stop-event="touchend">
            <p>名称: <input type="text" class="form-control" ng-model="name" placeholder="输入视频名称"/></p>
            <p>内容:
                <schema-based-editor local-value="ids" ng-model="ids" schema="schema">
                </schema-based-editor>
            </p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" ng-click="create(name, ids, category)"
                    ng-disabled="!name || !ids">发布
            </button>
            <button class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </script>
</div>
{% endblock %}


{% block footer_js %}
{{ super() }}
<script>
  var categoryId = '{{category_id}}';
  {{include_js_file('video_list/VideoList.js') }}
  {{ include_js_file('video_list/VideoListService.js') }}
  {{ include_js_file('library/Library.js')}}
  {{include_js_file('library/LibraryFooter.js') }}
</script>
{{ interaction_templates }}
{{ interaction_validators_html }}
{{ gadget_templates }}
{% endblock footer_js %}
{#
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
#}