<script type="text/ng-template" id="modals/saveCollection">
  <div class="modal-header">
    <h3>
      <span ng-if="isCollectionPrivate">保存草稿</span>
      <span ng-if="!isCollectionPrivate">发布修改</span>
    </h3>
  </div>
  <div class="modal-body oppia-long-text">
    <p>
      <span ng-if="isCollectionPrivate">(可选)</span>
      请输入您已更改的简要说明:
      <textarea rows="3" cols="50" ng-model="commitMessage" focus-on="saveChangesModalOpened" class="protractor-test-commit-message-input" autofocus></textarea>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-success protractor-test-close-save-modal" ng-disabled="!isCollectionPrivate && !commitMessage" ng-click="save(commitMessage)">
      <span ng-if="isCollectionPrivate">保存草稿</span>
      <span ng-if="!isCollectionPrivate">发布修改</span>
    </button>
  </div>
</script>
