<script type="text/ng-template" id="modals/addCollectionMetadata">
  <div class="modal-header">
    <h3>填写详细信息</h3>
  </div>

  <div class="modal-body oppia-long-text">
    <p>
      发布前请填写一下内容:
    </p>
    <p ng-if="requireTitleToBeSpecified">
       标题: 你的课程名称?
      <input type="text" class="form-control" ng-model="$parent.newTitle"
             placeholder="填写课程名称">
    </p>
    <p ng-if="requireObjectiveToBeSpecified">
      目标: 你的课程能够帮助学生学到什么?
      <input type="text" class="form-control" ng-model="$parent.newObjective"
             placeholder="学会 ...">
    </p>
    <p ng-if="requireCategoryToBeSpecified">
      分类: 你的课程属于哪类?
      <select2-dropdown item="$parent.newCategory"
                        choices="CATEGORY_LIST_FOR_SELECT2"
                        placeholder="Choose or type new"
                        new-choice-regex="^[A-Z a-z]+$"
                        width="100%"
                        invalid-search-term-message="课程分类无效">
      </select2-dropdown>
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-success" ng-click="save()" ng-disabled="!isSavingAllowed()">保存</button>
  </div>
</script>
