{% extends "base.html" %}

{% block maintitle %}
  Moderator Tools - Oppia
{% endblock maintitle %}

{% block navbar_breadcrumb %}
  <ul class="nav navbar-nav oppia-navbar-breadcrumb">
    <li>
      <span class="oppia-navbar-breadcrumb-separator"></span>
      发布人工具
    </li>
  </ul>
{% endblock navbar_breadcrumb %}

{% block content %}
  <div ng-controller="Moderator">
    <div class="oppia-content">
      <br>
      <tabset>
        <tab heading="Recent Commits" active>
          <h3>最近提交 (all non-private explorations)</h3>
          <div ng-show="allCommits.length">
            <table class="oppia-padded-table">
              <tr>
                <th>时间</th>
                <th>课程</th>
                <th>分类</th>
                <th>用户名</th>
                <th>备注</th>
                <th>权限?</th>
              </tr>
              <tr ng-repeat="commit in allCommits track by $index">
                <td><[getDatetimeAsString(commit.last_updated)]></td>
                <td>
                  <a ng-href="<[getExplorationCreateUrl(commit.exploration_id)]>">
                    <[explorationData[commit.exploration_id].title]>
                  </a>
                </td>
                <td>
                  <[explorationData[commit.exploration_id].category]>
                </td>
                <td><[commit.username]></td>
                <td><[commit.commit_message]></td>
                <td><[commit.post_commit_community_owned]></td>
              </tr>
            </table>
          </div>
        </tab>

        <tab heading="Recent Feedback Messages">
          <h3>最近反馈信息</h3>
          (Note that some of these links may be to private explorations, and thus result in authorization errors.)
          <br><br>
          <div ng-show="allFeedbackMessages.length">
            <table class="oppia-padded-table">
              <tr>
                <th>时间</th>
                <th>课程</th>
                <th>用户名</th>
              </tr>
              <tr ng-repeat="message in allFeedbackMessages track by $index">
                <td><[getDatetimeAsString(message.created_on)]></td>
                <td>
                  <a ng-href="<[getExplorationCreateUrl(message.exploration_id)]>">
                    <[message.exploration_id]>
                  </a>
                </td>
                <td><[message.author_username]></td>
              </tr>
            </table>
          </div>
        </tab>

        <tab heading="Featured Activities">
          <h3>活动在库特征</h3>
          <br><br>

          <schema-based-editor schema="FEATURED_ACTIVITY_REFERENCES_SCHEMA"
                               local-value="displayedFeaturedActivityReferences">
          </schema-based-editor>
          <br><br>

          <button class="btn btn-success" ng-click="saveFeaturedActivityReferences()"
                  ng-disabled="isSaveFeaturedActivitiesButtonDisabled()">
            保存特性活动
          </button>
        </tab>
      </tabset>
    </div>
  </div>
{% endblock %}

{% block footer_js %}
  {{ super() }}
  <script>
    {{ include_js_file('/moderator/Moderator.js') }}
  </script>
{% endblock footer_js %}
