<script type="text/ng-template" id="modals/embedExploration">
  <div class="modal-header">
    <h3>将课程嵌入到其他网页</h3>
  </div>

  <div class="modal-body">
    <p>
      要在其他网页嵌入课程，将下面的HTML复制到网页的源代码中：
    </p>

    <accordion close-others="true">
      <accordion-group heading="如果网站支持javascript" is-open="false">
        <div class="oppia-embed-modal-code" ng-click="selectText($event)">
&lt;oppia oppia-id="<[explorationId]>" src="<[serverName]>"&gt;&lt;/oppia&gt;
&lt;script src="https://cdn.jsdelivr.net/oppia/0.0.1/oppia-player.min.js"&gt;&lt;/script&gt;
        </div>
      </accordion-group>
      <accordion-group heading="如果网站不支持javascript" is-open="false" style="margin-top: 3px;">
        <div class="oppia-embed-modal-code" ng-click="selectText($event)">&lt;iframe src="<[serverName]>/explore/<[explorationId]>?iframed=true" width="700" height="1000"&gt;</div>
        <p>
          <em>
          注意：使用iframe的嵌入式探索将不会有自动滚动和扩大你的网页。</em>
        </p>
      </accordion-group>
    </accordion>

<!-- <p>
      For more details, as well as instructions on how to embed a particular version of an exploration, please see the <a href="https://oppia.github.io/#/EmbeddingAnExploration" target="_blank">documentation</a>.
    </p>-->
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">关闭</button>
  </div>
</script>
