<script type="text/ng-template" id="components/fallbackEditor">
  <div style="height: 100%;">

    <div ng-if="!triggerEditorIsOpen"
         style="height: 100%;"
         ng-attr-title="<[isEditable ? 'Edit fallback condition' : '']>">
      <div class="oppia-readonly-rule-tile protractor-test-edit-trigger-button"
           ng-class="{'oppia-editable-section': isEditable}">
        <div class="oppia-rule-preview oppia-transition-200">
          <div class="oppia-click-to-start-editing protractor-test-open-trigger-editor"
               ng-if="isEditable" ng-click="openTriggerEditor()">
            <i ng-if="isEditable"
               class="material-icons oppia-editor-edit-icon pull-right"
               title="Edit Fallback Condition">&#xE254;
            </i>
          </div>

          一旦学习者输入 <[trigger.customizationArgs.num_submits.value]>
          尝试<span ng-if="trigger.customizationArgs.num_submits.value !== 1">次</span>:
        </div>
      </div>
    </div>

    <div ng-if="isEditable && triggerEditorIsOpen">
      <form role="form"
            class="form-inline protractor-test-edit-trigger"
            name="editFallbackForm.editTriggerForm"
            ng-submit="saveThisTrigger()">
        <div class="oppia-rule-details-header">
          一旦学习者输入
          <schema-based-editor schema="INT_FORM_SCHEMA"
                               local-value="trigger.customizationArgs.num_submits.value">
          </schema-based-editor>
          尝试<span ng-if="trigger.customizationArgs.num_submits.value !== 1">次</span>:
        </div>
      </form>

      <div class="oppia-rule-save-cancel-buttons">
        <div class="pull-right">
          <button type="button"
                  class="btn btn-default protractor-test-cancel-trigger"
                  ng-click="cancelThisTriggerEdit()">
            取消
          </button>
          <button type="button"
                  class="btn btn-success protractor-test-save-trigger"
                  ng-disabled="editFallbackForm.editTriggerForm.$invalid"
                  ng-click="saveThisTrigger()">
            保存
          </button>
        </div>

        <div style="clear: both;"></div>
      </div>
    </div>

    <br>

    <outcome-editor is-editable="isEditable"
                    on-save-dest="getOnSaveFn()"
                    on-save-feedback="getOnSaveFn()"
                    outcome="outcome"
                    display-feedback="displayFeedback">
    </outcome-editor>
  </div>
</script>
